<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body class="p-4 dark:text-white dark:bg-gray-700">
<form action="/upload" method="POST">
    <input type="hidden" name="count" value="{{ .Count }}" />
    <input type="hidden" name="paidBy" value="{{ .PaidBy }}" />
    <input type="hidden" name="groupId" value="{{ .GroupId }}" />
    <table class="font-mono text-sm">
        <thead>
        <tr>
            <th class="px-3 py-1 text-left"></th>
            <th class="px-3 py-1 text-left">Date</th>
            <th class="px-3 py-1 text-left">Description</th>
            <th class="px-3 py-1 text-right">Amount</th>
        </tr>
        </thead>
        <tbody>
        {{ range $i, $row := .Rows }}
            <input type="hidden" name="date-{{$i}}" value="{{ $row.TransactionDate }}" />
            <input type="hidden" name="description-{{$i}}" value="{{ $row.Description }}" />
            <input type="hidden" name="amount-{{$i}}" value="{{ $row.Amount }}" />
            <tr class="border">
                <td class="px-3 py-1 text-left">
                    <input type="checkbox" checked name="selected-{{$i}}" class="w-6 h-6" />
                </td>
                <td class="px-3 py-1 text-left">{{ $row.TransactionDate | formatTime }}</td>
                <td class="px-3 py-1 text-left">{{ $row.Description }}</td>
                <td class="px-3 py-1 text-right">{{ $row.Amount | formatCents }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <button type="submit" class="w-full px-3 py-1 font-bold text-sm bg-green-700 text-white">Submit</button>
</form>
</body>

</html>
